/* base image styles */
.img-caption {
    font-size: 0.9rem;
    color: #6b7280;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

img {
    display: block;     /* Make it block so margin works */
    margin: 0 auto;     /* Centers horizontally */
    width: 50%;
    height: 50%;
}



/* portrait images */
.portrait {
    display: block; 
    margin: 0 auto;      
    width: 50%;
    height: auto;          
  }
  
/* Styles for images in the speedcubing section */
.cubing-image {
    display: block; 
    margin: 0 auto;      
    width: 50%;
    height: auto;   
}

.cubing-caption {
    font-size: 0.9rem;
    color: #6b7280;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}
